$color-primary-base: #fa7268;

$color-secondary-base: #dbff90;
$color-secondary-dark: #90d26c;

$color-high-lightest: #ffffff;
$color-high-light: #e4e7f4;
$color-high-medium: #e1e1e1;

$color-low-darkest: #000000;
$color-low-base: #2a2d3b;
$color-low-lightest: #9198af;

$color-low-transparent-base: rgba(0,0,0,.08);

$color-info-base: #68a0fa;